"*":
  core:
    audioBeep: false
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
  editor:
    preferredLineLength: 110
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "425d31c2-9287-42b3-b3e0-c3923650777a"
  welcome:
    showOnStartup: false
