[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rgregor/Desktop/CountriesCapitalsGUI3-1.desktop]
row=4
col=0

[/home/rgregor/Desktop/CountriesCapitalsGUI3-2.desktop]
row=3
col=0

[/home/rgregor/Desktop/SimpleCalculator.desktop]
row=6
col=0

[/home/rgregor/Desktop/alacritty_alacritty.desktop]
row=5
col=0

[/home/rgregor/Desktop/exo-terminal-emulator.desktop]
row=2
col=0

[Trash]
row=1
col=0

[/home/rgregor]
row=0
col=0

